.offer {
    // height: calc(100vh - var(--space-lg) * 2);
    color: var(--color-white);
    display: flex;
    background: linear-gradient(108.54deg, #031119 0%, #0290DE 100%);
    margin: 0;
    padding: var(--space-lg);
    padding-bottom: 100px;
    overflow: hidden;
    min-height: 100vh;
    transform: translateZ(0);
    will-change: transform;
    border-radius: 0 0 30px 30px;

    &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        // padding: var(--space-md);
        border-radius: 20px;

        /* ФОН */


        // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.png);
        // background-color: var(--color-grey);
        // background-size: cover;
    }

    &__background {
        opacity: .3;
        position: absolute;
        left: -15%;
        right: 0;
        bottom: 0;
        width: 115%;
    }


    &__label {
        font-size: 16px;
        padding: 12px 16px;
        border-radius: 20px;
        background: var(--gradient-orange);
        width: max-content;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-md);
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        padding-top: 150px;

        &--hidden {
            transform: rotate(-7deg) translateX(-130%);
        }
    }

    &__description {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'Second';
        font-weight: 500;
        gap: var(--space-md);
        font-size: 48px;

        &--column {
            flex-direction: column;
            align-items: start;
        }

        &--small {
            font-size: var(--fs-xxxs);
            font-weight: 400;
        }

        &:nth-child(1) {
            margin-top: auto;
        }
    }

    &__headline {
        font-size: 24px;
        color: var(--color-white) !important;
        // background: var(--gradient-grey);
        // ;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-fill-color: transparent;
        margin-bottom: var(--space-md);
    }

    &__logo {
        transform: translateY(16%);
        height: var(--fs-2xl);
    }

    &__button {
        margin-top: auto;
        // margin-bottom: 30vw;

        @media (min-width: 640px) {
            margin-bottom: 0;
        }
    }

    &__bg-item {
        position: absolute;
        bottom: 0;
        right: 0;
        filter: drop-shadow(1px 10px 100px #222222);
        width: 100%;

        @media (min-width: 640px) {
            width: 50%;
        }
    }

    @media (min-width: 640px) {
        border-radius: 0 0 60px 60px;
        &__label {
            font-size: 32px;
            padding: 12px 16px;
        }

        &__wrapper {
            gap: var(--space-xl);
            // padding: var(--space-lg);

        }

        &__description {
            font-size: 64px;
            gap: var(--space-xl);

            &--small {
                font-size: var(--fs-md);
            }
        }

        &__headline {
            font-size: 80px;
        }

        &__logo {
            height: var(--fs-8xl);
        }
    }

    @media (min-width: 1200px) {
        border-radius: 0 0 90px 90px;
        &__label {
            font-size: 40px;
        }

        &__wrapper {
            gap: var(--space-xl);
            // padding: var(--space-6xl);
            // padding-top: 15vh;
        }

        &__description {
            font-size: 64px;

            &--small {
                font-size: var(--fs-lg);
            }
        }

        &__headline {
            font-size: 96px;
        }

        &__logo {
            height: var(--fs-9xl);
        }
    }
}