.speaker {
    position: relative;
    padding: var(--space-2xl) var(--space-lg);
    background: var(--gradient-blue);
    border-radius: 30px 0 0 30px;
    // overflow: hidden;
    margin: 0;
    padding: var(--space-lg);
    display: flex;
    align-items: flex-start;
    min-height: 600px;
 
 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../assets/images/background-2.png');
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        z-index: 0;
    }

    // &__background {
    //     opacity: .3;
    //     position: absolute;
    //     // left: -15%;
    //     right: 0;
    //     bottom: 0;
    //     top: 0;
    //     width: 115%;
    // }


    &__content {
        // position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
    }

    &__title {
        font-size: var(--fs-md);
        color: var(--color-white);
        margin-bottom: var(--space-sm);
    }

    &__name {
        font-size: 28px;
        color: var(--color-white);
        font-weight: 700;
        line-height: var(--lh-md);

        @media (min-width: 640px) {
            font-size: 48px;
        }

        @media (min-width: 1200px) {
            font-size: 64px;
        }
    }

    &__description {
        font-size: 20px;
        font-weight: 400;
        color: var(--color-white);
     
        line-height: var(--lh-md);

        @media (min-width: 640px) {
            font-size: 36px;
        }

        @media (min-width: 1200px) {
            font-size: 48px;
        }
    }

    &__photo {
        transform: translate(24px,24px);
        // width: 100%;
        // max-width: 200px;
        // border-radius: 50%;
        // aspect-ratio: 1;
        object-fit: contain;
        // margin-top: var(--space-lg);
        // align-self: center;
    }

    @media (min-width: 980px) {
        border-radius: 60px 0 0 60px;
        padding: var(--space-4xl) var(--space-2xl);
      

        &__content {
            flex-direction: row;
            align-items: start;
        }

        &__photo {

            transform: none;
            // margin-top: 0;
            // margin-left: var(--space-xl);
            // order: 2;
            // max-width: 250px;
            right: 0;
            // max-width: 50%;
            // top: -10%;
            // left: 0;
            bottom: 0;
            // width: 120%;
            height: 120%;
            position: absolute;
        }
    }

    @media (min-width: 1200px) {
        border-radius: 90px 0 0 90px;
        padding: var(--space-6xl) var(--space-4xl);

        &__photo {
    
        }
    }
}